In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import re
path = 'a2_data.xlsx'

### Data preprocess

#### Mange model-company table

Dimension 'Release Date' showed unreadable data, we convert it into the format 'Year-Month-Day'.

(3162, 16)

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch)
0,Psion Organiser II LZ 64,1989-01-01,1989,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
2,Psion Series 3,1991-06-01,1991,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
4,Psion Series 3a,1993-03-01,1993,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985

 Find duplicate model and delete it.

In [78]:
# analyse duplicates
df_product_copy = df_product.copy()
df_product_copy['Model'] = df_product_copy['Model'].apply(lambda x: re.sub('[^A-Za-z0-9]+', '',x).lower())
print(len(df_product_copy))
print(len(set(list(df_product_copy['Model']))))

3162
3155

Find duplicated data and get their model id. Kept one row of record.

In [79]:
# find duplicate model id
duplicates1 = []
for index,value in dict(Counter(list(df_product_copy['Model']))).items():
    if value!=1:
        duplicates1.append(list(df_product_copy[df_product_copy['Model']==index]['Model ID']))
#         print(df_model_company_test[df_model_company_test['Model']==index]['Model ID'])
delete_model_id1 = [row[0] for row in duplicates1]
delete_model_id1

[1014, 1419, 1462, 1974, 1977, 2422, 2879]

In [80]:
# for num in delete_model_id1:
df_product=df_product[~df_product['Model ID'].isin(delete_model_id1)]
df_product = df_product.dropna()
print(df_product.shape)
df_product.head()

(3155, 16)

,Model,Release Date,Release Year,Model ID,RAM Capacity (Mb),Storage (Mb),CPU Clock (MHz),Display Diagonal (in),Display Width(px),Display Length(px),Width (mm),Length (mm),Depth (mm),Volume (cubic cm),Mass (grams),Pixel Density (per inch)
0,Psion Organiser II LZ 64,1989-01-01,1989,1,0.000000,0.000000,0.000000,0.050360,0.000000,0.000000,0.369714,0.118852,0.146889,0.059332,0.044181,0.000000
1,Hewlett-Packard 95LX (HP Jaguar),1991-04-01,1991,2,0.000214,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
2,Psion Series 3,1991-06-01,1991,3,0.000092,0.000015,0.001895,0.187050,0.056911,0.023810,0.432469,0.147541,0.101988,0.056634,0.044181,0.035336
3,Hewlett-Packard 95LX 1MB RAM (HP Jaguar),1992-01-01,1992,4,0.000458,0.000015,0.002230,0.223022,0.056911,0.047619,0.416098,0.147541,0.127646,0.065799,0.053879,0.030793
4,Psion Series 3a,1993-03-01,1993,5,0.000214,0.000015,0.003386,0.258993,0.154472,0.063492,0.432469,0.147541,0.101988,0.056634,0.046336,0.129985

#### Mange company id

After reading this table, select the desired columns.

In [50]:
# show Company ID
# select Company_real and drop duplicates to assure oe id to one company
df_company = pd.read_excel(path,sheet_name='Company ID').dropna()[['Company_real','New_ID']]
df_company['New_ID'] = df_company['New_ID'].apply(lambda x: int(x))
df_company.columns = ['Company_real', 'Company_ID']
df_company['Company_ID'] = df_company['Company_ID'].apply(lambda x: int(x))

df_company = df_company.drop_duplicates()
print(df_company.shape)
print(len(set(df_company['Company_ID'])))
print(min(df_company['Company_ID']),max(df_company['Company_ID']))
df_company.head()

(156, 2)
156
1 156

                          Company_real  Company_ID
1                      United Internet         141
3                                 3Com           1
5                       AboCom Systems           2
7                                 Acer           3
9  Shenzhen Ainol Electronics Co., Ltd         116

#### Merge two tables

In [53]:
da_m = pd.merge(df_model_company, df_company, on='Company_ID')
print(da_m.columns)
da_m

Index(['Model', 'Release Date', 'Release Year', 'Model ID', 'Company_ID',
       'Company_real'],
      dtype='object')

,Model,Release Date,Release Year,Model ID,Company_ID,Company_real
0,Casio Cassiopeia E-3000,2003-01-01,2003,260,26,Casio
1,Casio Cassiopeia IT-500 M30,2003-04-01,2003,282,26,Casio
2,Casio Cassiopeia IT-500 M30B,2003-04-01,2003,283,26,Casio
3,Casio Cassiopeia IT-500 M30CB,2003-04-01,2003,284,26,Casio
4,Casio Cassiopeia IT-500 M30CR,2003-04-01,2003,285,26,Casio
...,...,...,...,...,...,...
2832,Micromax A110 Canvas 2,2012-11-01,2012,3067,82,Micromax Informatics
2833,Micromax A90S Pixel,2012-11-01,2012,3068,82,Micromax Informatics
2834,Micromax A68 Smarty 4.0,2012-12-01,2012,3130,82,Micromax Informatics
2835,UMI X1,2012-11-01,2012,3100,138,UMI DIGI
2836,Vivo X1,2012-12-01,2012,3157,19,BBK Electronics Corporation

### Q2: Which companies tried to lead the new markets with the new types of mobile device?

In order to answer these questons, we should know the features in this table.

RAM Capacity: RAM is "random access memory". The speed and performance of the system are directly related to the RAM. That means the **larger** RAM, the **faster** speed of system will have.

Storage: Storage is an integral part of the computer, users can store and access data for a long time. **Larger** storage can store more files.

CPU Clock： Generally, a **higher** clock speed means a **faster** CPU. However, there are many other factors at play.

Display Diagonal (in)：The size of the screen is usually described by the length of the diagonal, that is, the distance between the diagonals, usually in inches. The **larger the bigger**.

Display Length(px),Width (mm),Length (mm),Depth (mm): length of display in pixel.  D is the diagonal (in centimeters or inches), W is the width (in pixels), and Depth is the height (in pixels).


Volume (cubic cm)： width-length-depth in mm

Mass (grams)：weight 

Pixel Density (per inch)：Pixel density is a calculation that returns the number of physical pixels per inch on a screen or display of a device. **High** density means **better** images, better fonts, smoother lines, or in other words, higher quality

In order to find companies that are trying to lead new markets through new mobile devices, one can analyze from two perspectives, one is the new technology leading the new market, and the other is the number of new products launched during the cycle.
First, analyze the number of new products launched by each company each year.

In [81]:
from collections import Counter
da_m_select = da_m[['Release Year','Company_real']]
year_list = list(set(list(da_m['Release Year'])))
for year in year_list:
    print(year, dictlist(da_m_select[da_m_select['Release Year']==year].Company_real))

2003 {'Casio': 6, 'Coxion': 1, 'HTC': 11, 'MiTAC International Corp': 11, 'Samsung': 5, 'Sony Corporation': 9, 'Zebra Technologies': 3, 'Kyocera Corporation': 1, 'Motorola': 3, 'E-TEN Information Systems Co., Ltd': 4, 'Nokia Corporation': 3, 'Toshiba Corporation': 4, 'Acer': 3, 'Orange UK': 2, 'Palm': 4, 'I-Mate': 2, 'NEC Corporationæ': 1, 'Panasonic': 1, 'Asus': 3, 'Hewlett-Packard': 8, 'NTT DOCOMO, Inc': 1, 'ViewSonic': 1, 'Hitachi, Ltd': 1, 'T-Mobile': 1, 'Dell': 3, 'Handspring Inc': 2, 'O2': 1, 'Fujitsu Ltd': 2, 'RoverComputers': 4, 'BlackBerry Limited': 1, 'Sendo': 1, 'Bsquare Corporation': 1, 'SiemensæAG': 1}
2004 {'Casio': 3, 'HTC': 24, 'MiTAC International Corp': 8, 'Samsung': 2, 'Sony Corporation': 2, 'Zebra Technologies': 6, 'Motorola': 3, 'E-TEN Information Systems Co., Ltd': 2, 'Nokia Corporation': 4, 'Toshiba Corporation': 2, 'Acer': 3, 'Orange UK': 3, 'Palm': 4, 'I-Mate': 5, 'NEC Corporationæ': 1, 'Panasonic': 3, 'Asus': 2, 'Hewlett-Packard': 9, 'ViewSonic': 1, 'T-Mobile': 3, 'Dell': 6, 'O2': 4, 'Fujitsu Ltd': 6, 'RoverComputers': 3, 'SiemensæAG': 1, 'AboCom Systems': 1, 'Airis': 3, 'Wistron Corporation': 1, 'Lenovo': 1, 'Sierra Wireless': 2, 'Tapwave': 2, 'Bluebird Soft Inc': 1, 'Data Evolution Corp': 1, 'BenQ': 1, 'Roper Technologies': 4, 'Sprint Corporation': 2, 'Verizon Communications': 1, 'Axia': 1}
2005 {'Casio': 4, 'HTC': 31, 'MiTAC International Corp': 8, 'Samsung': 6, 'Zebra Technologies': 6, 'Motorola': 4, 'E-TEN Information Systems Co., Ltd': 1, 'Nokia Corporation': 4, 'Acer': 2, 'Orange UK': 6, 'Palm': 4, 'I-Mate': 8, 'NEC Corporationæ': 1, 'Panasonic': 1, 'Asus': 4, 'Hewlett-Packard': 9, 'Hitachi, Ltd': 1, 'T-Mobile': 3, 'Dell': 3, 'O2': 8, 'Fujitsu Ltd': 2, 'RoverComputers': 1, 'BlackBerry Limited': 3, 'Airis': 1, 'Lenovo': 1, 'Bluebird Soft Inc': 3, 'Data Evolution Corp': 2, 'BenQ': 1, 'Roper Technologies': 2, 'Sprint Corporation': 1, 'Archos': 1, 'Arima Communications': 1, 'Intermec': 9, 'Olympus Corporation': 1, 'Trimble Navigation': 2, 'Vodafone': 4, 'Navigon GmbH': 1, 'Garmin Ltd': 3, 'TORQ': 2, 'Mobile Compia': 1, 'Fourier Systems': 3, 'Silicon-i': 1, 'Kinpo Electronics, Inc': 2}
2006 {'HTC': 53, 'MiTAC International Corp': 15, 'Samsung': 7, 'Zebra Technologies': 2, 'Motorola': 6, 'E-TEN Information Systems Co., Ltd': 4, 'Nokia Corporation': 11, 'Acer': 2, 'Orange UK': 5, 'Palm': 3, 'I-Mate': 9, 'Asus': 3, 'Hewlett-Packard': 9, 'NTT DOCOMO, Inc': 1, 'T-Mobile': 7, 'O2': 9, 'Fujitsu Ltd': 11, 'RoverComputers': 4, 'BlackBerry Limited': 6, 'SiemensæAG': 1, 'Airis': 5, 'Wistron Corporation': 4, 'Lenovo': 3, 'Bluebird Soft Inc': 3, 'BenQ': 1, 'Roper Technologies': 6, 'Verizon Communications': 1, 'Axia': 1, 'Arima Communications': 1, 'Intermec': 4, 'Vodafone': 7, 'Navigon GmbH': 4, 'TORQ': 2, 'Mobile Compia': 1, 'Kinpo Electronics, Inc': 2, 'Union Rich Development Corp': 1, 'Inventec Corporation': 4, 'Sharp Corporation': 3, 'Gigabyte Technology': 2, 'LG Electronics': 2, 'Amoi Technology Co., Ltd': 2, 'RoyalTek': 2, 'Mobile TeleSystems': 3, 'TechFaith Wirelessæ': 4, 'Tatung Company': 2, 'CipherLab': 1, 'Cowon Systems, Inc': 1, 'SoftBank': 1, 'QiGi': 1}
2007 {'HTC': 51, 'MiTAC International Corp': 14, 'Samsung': 13, 'Sony Corporation': 1, 'Zebra Technologies': 9, 'Motorola': 6, 'E-TEN Information Systems Co., Ltd': 4, 'Nokia Corporation': 15, 'Toshiba Corporation': 2, 'Orange UK': 5, 'Palm': 4, 'I-Mate': 6, 'Panasonic': 1, 'Asus': 12, 'Hewlett-Packard': 3, 'T-Mobile': 7, 'O2': 10, 'RoverComputers': 9, 'BlackBerry Limited': 8, 'Airis': 1, 'Lenovo': 2, 'Bluebird Soft Inc': 5, 'BenQ': 3, 'Roper Technologies': 7, 'Sprint Corporation': 2, 'Verizon Communications': 1, 'Trimble Navigation': 1, 'Vodafone': 7, 'TORQ': 1, 'Mobile Compia': 2, 'Kinpo Electronics, Inc': 1, 'Union Rich Development Corp': 1, 'Inventec Corporation': 7, 'Sharp Corporation': 3, 'Gigabyte Technology': 5, 'LG Electronics': 9, 'Amoi Technology Co., Ltd': 8, 'Mobile TeleSystems': 2, 'TechFaith Wirelessæ': 6, 'CipherLab': 4, 'Cowon Systems, Inc': 3, 'SoftBank': 3, 'Wayteq Technology': 5, 'Socket Mobile, Inc': 2, 'Apple Inc': 2, 'Zenum': 1, 'Blaupunkt': 4, 'DreimGO': 3, 'ThinkNavi ': 1, 'AIRO WIRELESS, LLC': 1, 'AT&T': 2, 'Tibo': 2, 'Clearview Technology': 1, 'NDrive': 1, 'Anydata Corporation': 1}
2008 {'HTC': 32, 'MiTAC International Corp': 22, 'Samsung': 31, 'Zebra Technologies': 2, 'Motorola': 9, 'E-TEN Information Systems Co., Ltd': 8, 'Nokia Corporation': 21, 'Toshiba Corporation': 3, 'Orange UK': 1, 'Palm': 5, 'I-Mate': 2, 'Panasonic': 1, 'Asus': 5, 'Hewlett-Packard': 7, 'NTT DOCOMO, Inc': 3, 'T-Mobile': 5, 'O2': 6, 'RoverComputers': 6, 'BlackBerry Limited': 6, 'Airis': 4, 'Bluebird Soft Inc': 2, 'Roper Technologies': 8, 'Sprint Corporation': 2, 'Verizon Communications': 3, 'Archos': 8, 'Trimble Navigation': 2, 'Vodafone': 3, 'Navigon GmbH': 2, 'Inventec Corporation': 7, 'Sharp Corporation': 1, 'Gigabyte Technology': 6, 'LG Electronics': 1, 'Amoi Technology Co., Ltd': 1, 'Mobile TeleSystems': 3, 'TechFaith Wirelessæ': 11, 'CipherLab': 8, 'Cowon Systems, Inc': 5, 'SoftBank': 4, 'QiGi': 6, 'Wayteq Technology': 3, 'Apple Inc': 3, 'Blaupunkt': 6, 'DreimGO': 4, 'ThinkNavi ': 1, 'AT&T': 1, 'Tibo': 2, 'NDrive': 5, 'Anydata Corporation': 1, 'Unitech Electronics Co Ltd': 1, 'Huawei': 4, 'Join Technology': 3, 'Verzio Mobile': 1, 'ZTE': 1, 'Simvalley Mobile': 3, 'Opticon Inc': 4, 'iconX': 2, 'Navon MIZU': 6, 'Real Aegis Technology Group Limited': 1, 'Meizu Technology Co., Ltd': 1}
2009 {'Casio': 6, 'HTC': 34, 'MiTAC International Corp': 20, 'Samsung': 34, 'Motorola': 7, 'Nokia Corporation': 15, 'Toshiba Corporation': 1, 'Acer': 11, 'Palm': 3, 'I-Mate': 1, 'Asus': 2, 'Hewlett-Packard': 1, 'NTT DOCOMO, Inc': 2, 'T-Mobile': 10, 'O2': 4, 'RoverComputers': 3, 'BlackBerry Limited': 5, 'Lenovo': 1, 'Bluebird Soft Inc': 3, 'Roper Technologies': 6, 'Sprint Corporation': 3, 'Verizon Communications': 5, 'Archos': 5, 'Vodafone': 2, 'Navigon GmbH': 7, 'Garmin Ltd': 2, 'Mobile Compia': 1, 'Inventec Corporation': 1, 'Gigabyte Technology': 1, 'LG Electronics': 5, 'TechFaith Wirelessæ': 6, 'SoftBank': 1, 'QiGi': 18, 'Wayteq Technology': 3, 'Apple Inc': 3, 'Blaupunkt': 1, 'AT&T': 3, 'NDrive': 3, 'Anydata Corporation': 2, 'Unitech Electronics Co Ltd': 2, 'Huawei': 2, 'Join Technology': 1, 'ZTE': 3, 'iconX': 2, 'Navon MIZU': 4, 'Meizu Technology Co., Ltd': 1, 'Foxconn Technology Group': 9, 'Google': 1, 'MENQ International Limited': 1, 'Medical Phone Ltd': 1, 'Camangi': 1, 'Sunno': 1}
2010 {'HTC': 35, 'MiTAC International Corp': 2, 'Samsung': 37, 'Zebra Technologies': 3, 'Kyocera Corporation': 1, 'Motorola': 27, 'Nokia Corporation': 23, 'Toshiba Corporation': 5, 'Acer': 14, 'Orange UK': 3, 'Palm': 9, 'Hewlett-Packard': 1, 'NTT DOCOMO, Inc': 5, 'ViewSonic': 2, 'T-Mobile': 14, 'Dell': 5, 'RoverComputers': 2, 'BlackBerry Limited': 7, 'Lenovo': 1, 'Roper Technologies': 4, 'Sprint Corporation': 3, 'Verizon Communications': 2, 'Archos': 9, 'Vodafone': 1, 'Garmin Ltd': 3, 'Mobile Compia': 9, 'Inventec Corporation': 3, 'Sharp Corporation': 1, 'Gigabyte Technology': 2, 'LG Electronics': 14, 'SoftBank': 4, 'QiGi': 13, 'Apple Inc': 6, 'Anydata Corporation': 2, 'Unitech Electronics Co Ltd': 2, 'Huawei': 10, 'ZTE': 5, 'Google': 3, 'MENQ International Limited': 1, 'Argox': 2, 'Rogers Wireless': 2, 'Philips': 1, 'enTourage': 1, 'Cincinnati Bell': 2, 'Hongfutai E-Tech (Shenzhen) Co. Ltd': 2, 'Ziss HongKong': 2, 'Microsoft': 1, 'Alcatel-Lucent': 3, 'Babiken': 1, 'EKEN Electronic': 3, 'MAG Digital': 2, 'United Internet': 1, 'FirstOne Technology': 2, 'Commtiva': 2, 'Spice Digital': 1, 'Yukyung Technologies Ltd': 4, 'E-noa': 1, 'Optima Technology ': 1, 'Barnes & Noble': 1, 'Notion Ink': 2, 'Into Blu': 1, 'Creative Technology Ltd': 1}
2011 {'HTC': 32, 'Samsung': 86, 'Sony Corporation': 3, 'Kyocera Corporation': 6, 'Motorola': 31, 'Nokia Corporation': 17, 'Toshiba Corporation': 4, 'Acer': 8, 'Orange UK': 1, 'Palm': 1, 'NEC Corporationæ': 2, 'Panasonic': 1, 'Asus': 3, 'Hewlett-Packard': 7, 'NTT DOCOMO, Inc': 5, 'ViewSonic': 5, 'T-Mobile': 16, 'Dell': 5, 'BlackBerry Limited': 13, 'Lenovo': 8, 'Sprint Corporation': 4, 'Verizon Communications': 5, 'Archos': 4, 'Vodafone': 2, 'Mobile Compia': 3, 'Sharp Corporation': 4, 'Gigabyte Technology': 4, 'LG Electronics': 23, 'SoftBank': 3, 'Apple Inc': 4, 'Huawei': 18, 'ZTE': 11, 'Meizu Technology Co., Ltd': 1, 'Foxconn Technology Group': 1, 'Rogers Wireless': 3, 'Cincinnati Bell': 1, 'Ziss HongKong': 3, 'Alcatel-Lucent': 9, 'Commtiva': 2, 'Spice Digital': 1, 'Barnes & Noble': 2, 'Onkyo Corporation': 2, 'Yarvik Nextec': 9, 'Inq Mobile': 1, 'Telecom Italia': 1, 'Shenzhen Ainol Electronics Co., Ltd': 4, 'HannStar Display Corporation': 1, 'Chi Mei Communication Systems': 1, 'Pantech': 3, 'DataWind': 1, 'Xiaomi Inc': 1, 'Amazon': 1}
2012 {'Casio': 3, 'HTC': 32, 'Samsung': 114, 'Sony Corporation': 39, 'Kyocera Corporation': 12, 'Motorola': 29, 'Nokia Corporation': 14, 'Toshiba Corporation': 12, 'Acer': 14, 'Orange UK': 3, 'NEC Corporationæ': 9, 'Panasonic': 5, 'Asus': 16, 'NTT DOCOMO, Inc': 14, 'T-Mobile': 13, 'Fujitsu Ltd': 2, 'BlackBerry Limited': 5, 'Lenovo': 22, 'Bluebird Soft Inc': 1, 'BenQ': 2, 'Sprint Corporation': 2, 'Verizon Communications': 6, 'Archos': 21, 'Vodafone': 3, 'Sharp Corporation': 5, 'Gigabyte Technology': 1, 'LG Electronics': 35, 'SoftBank': 3, 'Apple Inc': 27, 'Huawei': 31, 'ZTE': 29, 'Meizu Technology Co., Ltd': 7, 'Google': 6, 'Microsoft': 2, 'Alcatel-Lucent': 22, 'Spice Digital': 2, 'Barnes & Noble': 5, 'Yarvik Nextec': 11, 'HannStar Display Corporation': 1, 'Pantech': 1, 'DataWind': 1, 'Xiaomi Inc': 4, 'Amazon': 3, 'LavaæInternational Ltd': 2, 'Hunan Suning Pioneer Electronics': 1, 'Coolpad Group Limited': 3, 'Oregon Scientific': 1, 'Zopo Mobile': 2, 'Micromax Informatics': 3, 'UMI DIGI': 1, 'BBK Electronics Corporation': 1}